<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间: 要和mapper层的mapper包一样-->
<mapper namespace="com.ding.spring_001.mapper.ImageMapper">

    <select id="selectAll" resultType="com.ding.spring_001.entity.Image">
        select * from image

    </select>
    <select id="findById" resultType="com.ding.spring_001.entity.Image" parameterType="com.ding.spring_001.entity.User">
        select * from image
        <where>
            <if test="userid != null">
                AND userid = #{userid}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.ding.spring_001.entity.Image" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO image (userid, img)
        VALUES (#{userid}, #{img})
    </insert>

    <update id="update" parameterType="com.ding.spring_001.entity.Image">
        UPDATE image
        SET userid = #{userid}, img = #{img}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM image WHERE id = #{id}
    </delete>
</mapper>